{% extends "base.html" %}

{% block content %}
      <div id="content">
        <!-- insert the page content here -->
        <h1>Добро пожаловать в еще один Блог &#128512;</h1>
        <p>Как профессиональный блог поможет вам в карьере?</p>
        <p>Есть множество причин заняться блогом, в том числе для собственного развития и удовлетворения.</p>
        <ul>
          <li>Повысить квалификацию</li>
          <li>Получить более интересную работу</li>
          <li>Быть признанным сообществом</li>
          <li>Увеличить доход</li>
          <li>Приблизиться к финансовой независимости и счастью</li>
        </ul>
        <p>Зачем вести блог и быть публичным?</p>
        <ul>
          <li>Структурировать знания и активно учиться</li>
          <li>Научиться убеждать и стать красноречивее</li>
          <li>Экономика внимания</li>
          <li>Обратная связь и благодарности</li>
          <li>Независимость и свобода</li>
        </ul>



      </div>
{% endblock %}
